<% layout("/layouts/boillerplate")%>
<body>
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="enter-title" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
            <div class="invalid-feedback">Add a valid Title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  rows="4" cols="100"  required class="form-control"><%=listing.description%></textarea>
            <div class="invalid-feedback">Add a valid Discription</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input placeholder="enter image-url/link" name="listing[image]" value="<%=listing.image%>" class="form-control" required>
            <div class="invalid-feedback">Add a valid Image</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price"  class="form-label">Price</label>
                <input type="number" placeholder="enter-price" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">Add a valid Price</div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="country" class="form-label">Country</label>
                <input type="text" placeholder="enter-country" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">Add a valid Country</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="enter-location" name="listing[location]"  class="form-control" value="<%=listing.location%>" required>
            <div class="invalid-feedback">Add a valid Location</div>
        </div>
        

        <button class="btn btn-dark   add-btn mt-3">Edit</button>
    </form>
</div>
</div>
</body>