<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="Stylesheet" href="style.css"1>
</head>
<body>
    <h3>All chats</h3>
    <form method="GET" action="/chats/new">
        <button> New Chat </button>
    </form>
    <br>
    <% for(let chat of chats) { %>

        <div class="chat">
            <p><i>from <%=chat.from%></i></p>
            <div class="msg">
                <p><%=chat.msg%></p>
                <form action="/chats/<%= chat._id %>/edit" method="GET">
                    <button>edit</button>
                </form>
                <br>
                <form action="/chats/<%= chat._id %>/?_method=DELETE" method="post">
                    <button>delete</button>
                </form>
            </div>
            <p><i>Received By <%=chat.to%></i></p>
          <hr>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join("  ") %></p>
        </div>
        <br>
            <br>
    <%} %>
</body>
</html>
